@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


/* ******** générale ******** */
body {
    font-family: 'Raleway700', sans-serif;
}

.content{
padding: 2em;

}

.corps i, #trend i{
  color: #0065fc;
  font-size: 12px;
}

/* ******** barre navigation ******** */

.navigateur {
    display: flex;
    justify-content: space-between;
}

.navigateur img {
    height: 50px; 
}

.menu {
  display: flex;
}

nav ul{
    display: flex;
    align-items: center;
}

  nav li {
    list-style: none;
}

nav a {
    color:black;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3.2em;
}

nav li :hover {
    border-top: 2px solid #0065fc;
    color: blue;
}

.signin {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}
  
.signin a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
    padding-left: 2em;
}

/* ******** RECHERCHE ********** */

.subheader {
    padding-top: 1.5em;
}

h1{
    font-size: 20px;
}

.recherche {
  display: flex;
  align-items: center; 
    margin: 10px 0 30px 0;
}

.recherche i {
  background-color:#F2F2F2;
  padding: 13px 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; 
  padding: 12.9px;
}

.submit {
    padding: 13px;
    font-size: 12px;
    background-color:#0065FC;
    cursor: pointer;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    width: 10em;
}

#maRecherche {
    border: 2px solid #f2f2f2;
    padding: 0.85em;  
    margin: 0px;
}
::placeholder{
  color: black;
  font-size: 16px;
}

/* ******* filtres ********* */

.list-filtre {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.titre-filtre{
  padding-right: 1em;
}

.filtrepicto {
    display: flex;
    align-items: center;   
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}

.bouton-filtre {
   display: flex;
   align-items: center;
   margin-right: 2em;
   border: 2px solid #f2f2f2;
   border-radius: 30px; 
   height: 2.5em;
}

.bouton-filtre a {
  text-decoration: none;
  padding-right: 1em;
  padding-left: 1em;
}

.filtrepicto i {
  background-color: #DEEBFF;
  padding: 0.8em;
  border-radius: 30px;
  color: #0065fc;
}

.filtre-info {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

.icone-info {
  padding-top: 0.5em;
  padding-right: 1em;
  width: 30px;
  height: 30px;
}
.icone-info .fas {
padding: 2px;
text-align: center;
color: #0065FC;
font-size: 12px;
}

.filtre-info i {
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  width: 1em;
}

/* ******  Hébergement ********* */

.box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
}

.hebergement {
  width: 66%;
  padding: 1em;
  background-color: #F2F2F2;
  border-radius: 15px;
}

.menu h2 {
  font-size: 18px;
  margin-left: 1.5em;
}

.first-ligne {
  display: flex;
}

.box:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.second-ligne {
  display: flex; 
}

.content-box .box {
  background-color: white;
  width: 33%;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  border-radius: 15px;
  padding: 3px;
  margin: 1em;
}

.box h3{
  font-size: 14px;
}

.box p{
  font-size: 12px;
}

.corps {
  display: flex;
}

.afficher-plus{
  padding-left: 1.5em;
}

/* ******** trend ********** */

.trendtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trendtitle {
  margin: 0.5em;
  padding: 1em 3em 0em 3em;
}

.trendtitle h2{
  font-size: 18px;
}

#trend .trendtitle i{
  color: black;
}

.container-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 2em;
}

#trend .trendbox {
  display: flex;
  background-color: white;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  border-radius: 15px;
  padding: 3px;
  margin: 0em 3em 3em 3em;
  height: 170px;
  width: 100%;
}

#trend .trendbox a{
  width: 70%;
}

.trendbox:hover{
  transform:scale(1.05);
  transition: all 0.2s ease-in-out;
}

#trend img {
  width: 100%;
  height: 170px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-fit: cover;
}

#trend{
  background-color: #f2f2f2;
  margin-left: 1em;
  border-radius: 15px;
  width: 33%;
}

.text-menu{
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100%;
  padding-left: 1em;
}

.text-menu h3{
  font-size: 14px;
}

.text-menu p{
  font-size: 12px;
}

/* ********** activités ************ */

.activity{
  margin-top: 4em;
}

.activity h2{
  font-size: 18px;
}

.flex-activity{
  display: flex;
  justify-content: space-between; 
}

.first-column, .second-column{
  width: 25%;
}
.bigbox{
  width: 25%;
  margin: 0em 1.5em;
}

.flex-activity img {
width: 100%;
height: 450px;
object-fit: cover;
border-radius: 15px 15px 0px 0px;
}

.flex-activity .box-activ1 img{
  height: 200px;
}

.flex-activity .box-activ2 img{
  height: 150px;
}

.bigbox, .box-activ1, .box-activ2{
box-shadow: 4px 4px 8px rgb(190, 189, 189);
border-radius: 15px;
padding-bottom: 0.5em;
} 

.box-activ2{
  margin-top: 3em; 
}

.flex-activity h3{
  background-color: white;
  padding-left: 10px;
  font-size: 14px;
}

/* *********** footer ************ */

footer{
  background-color:#F2F2F2 ;
  display: flex;
  margin-top: 2em;
}
.footerbox{
  width: 33%;
}

.footerbox ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

.footerbox li{
  line-height: 30px;
  
}

.footerbox .footer-li{
  font-size: 18px;
  font-weight: bold;
}

/* ******** media query ******** */

@media screen and (max-width: 1201px) {
  .content-box{
    display: flex;
  }
  .content-box .box{
    width: 80%;
  }

  #trend .trendbox{
    width: 80%;
    height: 200px;
  }
  
  .first-ligne, .second-ligne{
    flex-direction: column;
    width: 50%;
  }
  .hebergement{
    width: 60%;
  }
  #trend{
    width: 40%;
  }
  #trend img{
    height: 100%;
  }
}

@media screen and (max-width: 1060px) {
  .corps{
    flex-direction: column-reverse;
  }
  #trend{
    width: 100%;
    margin: 0px;
  }
  #trend .container-box{
    flex-direction: initial;
    width: 100%;
    padding: 0px;
  }
  #trend .trendbox{
    width: 50%;
    margin: 0em 1em 1em 1em;
  }
.trendtitle{
  padding: 0em 1em 1em 1em;
}
.hebergement{
  width: 100%;
  margin-top: 2em;
  padding: 0em;
}
.content-box{
  display: block;
}
.first-ligne, .second-ligne{
  flex-direction:initial;
  width: 100%;
}
.content-box .box{
  margin: 1em 1em 0em ;
}
}